<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CandidateAssessment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ALogin</display-name>
    <servlet-name>ALogin</servlet-name>
    <servlet-class>com.candidate.ALogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ALogin</servlet-name>
    <url-pattern>/ALogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HLogin</display-name>
    <servlet-name>HLogin</servlet-name>
    <servlet-class>com.candidate.HLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HLogin</servlet-name>
    <url-pattern>/HLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHr</display-name>
    <servlet-name>AddHr</servlet-name>
    <servlet-class>com.candidate.AddHr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHr</servlet-name>
    <url-pattern>/AddHr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJob</display-name>
    <servlet-name>AddJob</servlet-name>
    <servlet-class>com.candidate.AddJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJob</servlet-name>
    <url-pattern>/AddJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewCandidate</display-name>
    <servlet-name>NewCandidate</servlet-name>
    <servlet-class>com.candidate.NewCandidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCandidate</servlet-name>
    <url-pattern>/NewCandidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.candidate.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMarks</display-name>
    <servlet-name>AddMarks</servlet-name>
    <servlet-class>com.candidate.AddMarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMarks</servlet-name>
    <url-pattern>/AddMarks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQue</display-name>
    <servlet-name>AddQue</servlet-name>
    <servlet-class>com.candidate.AddQue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQue</servlet-name>
    <url-pattern>/AddQue</url-pattern>
  </servlet-mapping>
</web-app>